{
 :mvn/repos {"clojars" {:url "https://repo.clojars.org/"}
             "central" {:url "https://repo1.maven.org/maven2/"}}

 ;; don't change target/classes (do not remove it from :paths and
 ;; do not rename it, otherwise edit build.clj)
 ;; uncomment java-src if you have java sources.
 :paths     ["src" "java-src" "resources" "target/classes"]

 :deps      {
             org.clojure/clojure                        {:mvn/version "1.10.1"}

             ;; metrics
             io.dropwizard.metrics/metrics-core         {:mvn/version "4.1.2"}
             io.dropwizard.metrics/metrics-jvm          {:mvn/version "4.1.2"}
             io.dropwizard.metrics/metrics-healthchecks {:mvn/version "4.1.2"}

             ;; java annotations
             com.google.code.findbugs/annotations       {:mvn/version "3.0.1"}

             ;;logs & metrics
             io.pedestal/pedestal.log                   {:mvn/version "0.5.7"}
             org.slf4j/slf4j-simple                     {:mvn/version "1.7.30"}}

 :aliases   {
             :repl    {:extra-deps  {criterium            {:mvn/version "0.4.5"}
                                     nrepl                {:mvn/version "0.7.0"}
                                     healthsamurai/matcho {:mvn/version "0.3.7"}
                                     hashp                {:mvn/version "0.2.0"}}
                       :jvm-opts    ["-Duser.timezone=UTC"]
                       :extra-paths ["dev/src" "resources" "test"]
                       :main-opts   ["--main" "nrepl.cmdline"]}

             :test    {:extra-deps  {lambdaisland/kaocha           {:mvn/version "1.0.632"}
                                     lambdaisland/kaocha-cloverage {:mvn/version "1.0-45"}
                                     healthsamurai/matcho          {:mvn/version "0.3.7"}}
                       :extra-paths ["resources" "test" "test/resources"]
                       :jvm-opts    ["-Duser.timezone=UTC"]
                       ;;"-DLOG4J_CONFIGURATION_FILE=test/resources/log4j2-test.xml"

                       :main-opts   ["--main" "kaocha.runner"]}

             :pbuilder {:extra-deps  {org.rssys/pbuilder {:mvn/version "0.1.11"}}
                        :extra-paths ["resources"]
                        :jvm-opts    []
                        :main-opts   ["--main" "org.rssys.pbuilder.core"]}
             }}



